body, html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

#main-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

}

#header {
    min-height: 10%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.header-content {
    font-size: 20px;
}

.logo-icon {
    width: 50px;
    margin-right: 10px;
}

#notifications {
    min-height: 5%;
    text-align: right;
    padding-right: 10px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.notification-container {
    margin: 5px;
}

.notification-container > span {
    font-weight: bold;
}

.column-left {
    float: left;
    width: 20%;
    min-height: 75%;
    position: relative;
    padding-left: 10px;
}

.button-bar {
    padding: 10px;
}

.column-center {
    background: white;
    float: left;
    width: 60%;
    min-height: 75%;
    position: relative;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.column-right {
    float: left;
    width: 20%;
    min-height: 75%;
    position: relative;
    padding-left: 10px;
}

.column-right p, .column-left p {
    margin: 0;
}

.column-right p > span, .column-left p > span {
    font-weight: bold;
}

.clear {
    clear: both;
}

.footer {
    width: 100%;
    height: 10%;
    text-align: center;
    border: 1px solid #efefef;
}

.footer > p {
    margin-top: 10px;
}

.thumbnail-wrapper {
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.thumbnail-wrapper > img {
    width: 50px;
}

#name_arrow, #date_arrow {
    cursor: pointer;
}

/* Изменение дефолтных стилей элементов Bootstrap */
.alert {
    border-radius: 0;
}

