{% extends 'base.twig' %}
{% block title %}Страница авторизации{% endblock %}
{% block navigationBar %}{% endblock %}
{% block mainContent %}
    <div class="container">
        {% if notification is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-danger">
                        <strong>Ошибка!</strong> Неверное имя пользователя или пароль.
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div style="width: 300px; margin: 0 auto;">
                    <form action="./?login=try" method="post">
                        <div class="form-group">
                            <h3 class="text-center">Вход в систему</h3>
                        </div>
                        <div class="form-group" style="width: 300px;margin: 0 auto;">
                            <label for="username">Имя пользователя</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" name="" id="" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}