{% extends "base.twig" %}
{% block title %}Файловое хранилище{% endblock %}
{%block main_content %}
<div id="main-wrapper" class="p0 m0">
    <div id="header" class="p0 m0">
        <div class="header-content"><a href="./"><img src="./assets/images/folder-icon.png" class="logo-icon"></a> Файловое хранилище</div>
    </div>

    <div id="notifications">
        <p class="notification-container">Вы вошли в систему как <span>{{ username }}</span>. <a href="./?logout=1">Выйти</a></p>
    </div>

    <div class="column-left">
        <h4>Можно загружать:</h4>
        {% for i in ext_name %}
            <p class="text-uppercase">{{ i.name }} (до <span>{{ i.size }}</span>)</p>
        {% endfor %}
        <br>
        <h4>Использовано:</h4>
        <p><span>{{ sum_of_user_sizes }}</span> из <span>{{ user_storage_limit }}</span></p>
    </div>

    <div class="column-center">
        {% if notification is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        <strong>{{ notification }}</strong>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row button-bar">
            <div class="col-xs-6">
                <a href="#" id="add_file_button" class="btn btn-default">Загрузить новый файл</a>
            </div>
            <div class="col-xs-6">
                <a href="#" id="add_file_from_url_button" class="btn btn-default">Запросить с удаленного сервера</a>
            </div>
        </div>
        <div class="row" id="add_file_form" style="display: none; padding: 10px;">
            <div class="col-xs-12">
                <form method="post" action="./?action=upload_file" enctype="multipart/form-data">
                    <div class="">
                        <div style="margin-top: 10px;">
                            <input type="file" name="file_to_upload" value="Выбрать файл">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <input type="submit" class="btn btn-success" value="Загрузить">
                            <input type="button" class="btn btn-danger" value="Отменить" id="cancel_button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="add_file_from_url_form" style="display: none; padding: 10px;">
            <div class="col-xs-12">
                <form method="post" action="./?action=get_file_from_url">
                    <div class="">
                        <div style="margin-top: 10px;" class="form-group">
                            <input type="text" name="file_url" placeholder="Введите URL" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="radio" name="save_type" value="home_dir" checked> Сохранить файл в домашний каталог<br>
                            <input type="radio" name="save_type" value="external_storage"> Скачать файл
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <input type="submit" class="btn btn-success" value="Загрузить">
                            <input type="button" class="btn btn-danger" value="Отменить" id="cancel_button_from_url">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if files_list is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <td><b>Имя файла</b></td>
                            <td><b>Размер файла</b></td>
                            <td><b>Дата и время</b></td>
                            <td><b>Действие</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in files_list %}
                            <tr>
                                <td>
                                    <a href="{{ user_home_dir }}/{{ item.name }}" download>{{ item.name }}</a>
                                </td>
                                <td>
                                    {{ item.size_to_display }}
                                </td>
                                <td>
                                    {{ item.timestamp }}
                                </td>
                                <td>
                                    <a href="{{ user_home_dir }}/{{ item.name }}" download class="btn btn-default">Скачать</a>
                                    <a href="./?action=remove_file&filename={{ item.f_name_sha1 }}" class="btn btn-danger">Удалить</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="column-right">
        <h4>Статистика</h4>
        <p>Пользователей: <span>{{ count_users }}</span></p>
        <p>Файлов: <span>{{ count_files }}</span></p>
        <p>Объем: <span>{{ sum_of_sizes }}</span></p>
        <p>Объем / польз.: <span>{{ avg_files_per_all_users }}</span></p>

    </div>

    <div class="clear">
    </div>

    <div class="footer">
        <p>&copy; 2016, PHP03</p>
    </div>

</div>
{% endblock %}