<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | PHP03 Task 7</title>

    <!-- Кроссбраузерное подключение favicon -->
    <link rel="apple-touch-icon-precomposed" href="./assets/images/favicon.ico">
    <link rel="icon" href="./assets/images/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="./assets/images/favicon.ico"><![endif]-->
    <meta name="msapplication-TileColor" content="#eee">
    <meta name="msapplication-TileImage" content="./assets/images/favicon.ico">

    <!-- Подключение шрифта Open Sans из библиотеки Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700&subset=latin,cyrillic'
    rel='stylesheet' type='text/css'>

    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

    <!-- Подключение главного файла стилей -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- HTML5 shim и Respond.js для поддержки в IE8 элементов HTML 5 и медиа запросов -->
    <!--[if lt IE 9]>
    <script src="./assets/js/html5shiv.min.js"></script>
    <script src="./assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% block main_content %}{% endblock %}

    <!-- Подключение jQuery -->
    <script src="./assets/js/jquery.min.js"></script>

    <!-- Подключение jQuery Color-->
    <script src="./assets/js/jquery.color.js"></script>

    <!-- Подключение Bootstrap -->
    <script src="./assets/js/bootstrap.min.js"></script>

    <!-- jQuery Отображение кнопок загрузки файла -->
    <script src="./assets/js/fileUploadButtons.js"></script>

    <!-- jQuery Сортировка таблицы со списком файлов -->
    <script src="./assets/js/sortTableColumn.js"></script>

    <!-- jQuery Скрипт, осуществляющий загрузку и удаление файлов без перезагрузки страницы -->
    <script src="./assets/js/fileActions.js"></script>

    <!-- jQuery Превью изображения при наведении на имя файла в списке файлов -->
    <script src="./assets/js/imagePreview.js"></script>


</body>
</html>