{% extends "base.twig" %}
{% block title %}Файловое хранилище{% endblock %}
{%block main_content %}
<div id="main-wrapper" class="p0 m0">
    <div id="header" class="p0 m0">
        <div class="header-content"><a href="./"><img src="./assets/images/folder-icon.png" class="logo-icon"></a> Файловое хранилище</div>
    </div>

    <div id="notifications">
        <p class="notification-container">Вы вошли в систему как <span>{{ username }}</span>. <a href="./?logout=1">Выйти</a></p>
        <input type="hidden" name="uid" id="uid" value="{{ u_id }}">
    </div>

    <div class="column-left">
        <h4>Можно загружать:</h4>
        {% for i in ext_name %}
            <p>.{{ i.name }} (до <span>{{ i.size }}</span>)</p>
        {% endfor %}
        <br>
        <h4>Использовано:</h4>
        <p><span id="sum_of_user_sizes">{{ sum_of_user_sizes }}</span> из <span id="user_storage_limit">{{ user_storage_limit }}</span></p>
    </div>

    <div class="column-center">
        <div id="notification-wrap">
        {% if notification is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        <strong>{{ notification }}</strong>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="row button-bar">
            <div class="col-xs-6">
                <a href="#" id="add_file_button" class="btn btn-default">Загрузить новый файл</a>
            </div>
            <div class="col-xs-6">
                <a href="#" id="add_file_from_url_button" class="btn btn-default">Запросить с удаленного сервера</a>
            </div>
        </div>
        <div class="row" id="add_file_form" style="display: none; padding: 10px;">
            <div class="col-xs-12">
                <form method="post" action="./?action=upload_file" enctype="multipart/form-data">
                    <div class="">
                        <div style="margin-top: 10px;">
                            <input type="file" id="file_to_upload" name="file_to_upload" value="Выбрать файл">
                        </div>
                        <div style="margin-top: 10px;">
                            <progress id="progressBar" value="0" max="100" style="width:400px; display: none"></progress>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <input type="button" class="btn btn-success" id="button_file_upload" value="Загрузить">
                            <input type="button" class="btn btn-danger" value="Отменить" id="cancel_button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="add_file_from_url_form" style="display: none; padding: 10px;">
            <div class="col-xs-12">
                <form method="post" action="./?action=get_file_from_url">
                    <div class="">
                        <div style="margin-top: 10px;" class="form-group">
                            <input type="text" name="file_url" placeholder="Введите URL" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="radio" name="save_type" value="home_dir" checked> Сохранить файл в домашний каталог<br>
                            <input type="radio" name="save_type" value="external_storage"> Скачать файл
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <input type="submit" class="btn btn-success" value="Загрузить">
                            <input type="button" class="btn btn-danger" value="Отменить" id="cancel_button_from_url">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if files_list is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-condensed sortable">
                        <thead>
                        <tr>
                            <th>Имя файла <span class="sort_icon"></span></th>
                            <th>Размер файла <span class="sort_icon"></span></th>
                            <th>Дата и время <span class="sort_icon"></span></th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody id="filelist">
                        {% for item in files_list %}
                            <tr>
                                <td>
                                    <a href="./users/{{ user_home_dir }}/{{ item.f_name_sha1 }}" download="{{ item.name }}" class="show-image">{{ item.name }}</a>
                                    {% if item.extension == 'jpg' or item.extension == 'png' %}
                                        <div class="image_preview_block">
                                            <img src="./users/{{ user_home_dir }}/{{ item.f_name_sha1 }}" alt="" width="198px">
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ item.size_to_display }}
                                </td>
                                <td>
                                    {{ item.timestamp }}
                                </td>
                                <td>
                                    <a href="./users/{{ user_home_dir }}/{{ item.name }}" download class="btn btn-default">Скачать</a>
                                    <a href="#" data-sha1="{{ item.f_name_sha1 }}" class="btn btn-danger delete-file">Удалить</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="column-right">
        <h4>Статистика</h4>
        <p>Пользователей: <span id="count_users">{{ count_users }}</span></p>
        <p>Файлов: <span id="count_files">{{ count_files }}</span></p>
        <p>Объем: <span id="sum_of_sizes">{{ sum_of_sizes }}</span></p>
        <p>Объем / польз.: <span id="avg_files_per_all_users">{{ avg_files_per_all_users }}</span></p>

    </div>

    <div class="clear">
    </div>

    <div class="footer">
        <p>&copy; 2016, PHP03</p>
    </div>

</div>
{% endblock %}