{% extends "base.twig" %}
{% block title %}Страница авторизации{% endblock %}
{% block main_content %}
<div id="main-wrapper" class="p0 m0">
	<div id="header" class="p0 m0">
		<div class="header-content"><a href="./"><img src="./assets/images/folder-icon.png" class="logo-icon"></a> Файловое хранилище</div>
	</div>

	<div id="notifications">
		<p class="notification-container">Необходимо войти в систему</p>
	</div>

	<div class="column-left">
	</div>

	<div class="column-center">
		{% if notification is defined %}
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger">
						<strong>Ошибка!</strong> Неверное имя пользователя или пароль.
					</div>
				</div>
			</div>
		{% endif %}
		<div style="width: 300px; margin: 0 auto;">
			<form action="./?login=try" method="post">
				<div class="form-group">
					<h3 class="text-center">Вход в систему</h3>
				</div>
				<div class="form-group" style="width: 300px;margin: 0 auto;">
					<label for="username">Имя пользователя</label>
					<input type="text" name="username" id="username" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Пароль</label>
					<input type="password" name="password" id="password" class="form-control">
				</div>
				<div class="form-group">
					<input type="checkbox" name="remember" id="remember"> Запомнить меня
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" name="" id="" value="Войти">
				</div>
			</form>
		</div>
	</div>

	<div class="column-right">
		<h4>Статистика</h4>
		<p>Пользователей: <span>{{ count_users }}</span></p>
		<p>Файлов: <span>{{ count_files }}</span></p>
		<p>Объем: <span>{{ sum_of_sizes }}</span></p>
		<p>Объем / польз.: <span>{{ avg_files_per_all_users }}</span></p>

	</div>

	<div class="clear">
	</div>

	<div class="footer">
		<p>&copy; 2016, PHP03</p>
	</div>

</div>
{% endblock %}