<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | PHP03 Task 6</title>

    <!-- Кроссбраузерное подключение favicon -->
    <link rel="apple-touch-icon-precomposed" href="./assets/images/favicon.ico">
    <link rel="icon" href="./assets/images/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="./assets/images/favicon.ico"><![endif]-->
    <meta name="msapplication-TileColor" content="#eee">
    <meta name="msapplication-TileImage" content="./assets/images/favicon.ico">

    <!-- Подключение шрифта Open Sans из библиотеки Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700&subset=latin,cyrillic'
    rel='stylesheet' type='text/css'>
    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <!-- Подключение главного файла CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- HTML5 shim и Respond.js для поддержки в IE8 элементов HTML 5 и медиа запросов -->
    <!--[if lt IE 9]>
    <script src="./assets/js/html5shiv.min.js"></script>
    <script src="./assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    {% block main_content %}{% endblock %}

    <!-- jQuery -->
    <script src="./assets/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="./assets/js/bootstrap.min.js"></script>

    <script>
        // Управление кнопками и блоками "Загрузить файл с жесткого диска" и "Загрузить файл по URL"
        $(document).ready(function () {
            $('#add_file_button').click(function () {
                $('#add_file_form').toggle();
                $('#add_file_from_url_form').hide();
            });

            $('#cancel_button').click(function () {
                $('#add_file_form').hide();
            });

            $('#add_file_from_url_button').click(function () {
                $('#add_file_from_url_form').toggle();
                $('#add_file_form').hide();
            });

            $('#cancel_button_from_url').click(function () {
                $('#add_file_from_url_form').hide();
            });
        });
    </script>

    <script type="text/javascript">
        var asc1 = 1, asc3 = 1;

        function sortTableColumn(tbody, col, asc, arrow) {
            var rows = tbody.rows, rlen = rows.length, arr = new Array(), i, j, cells, clen;

            // Заполнение массива значениями из таблицы
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++) {
                    arr[i][j] = cells[j].innerHTML;
                }
            }

            // Сортировка массива по номеру колонки и порядку сортировки
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });

            // Замена текущих рядов на содержащиеся в отсортированном массиве
            for (i = 0; i < rlen; i++) {
                rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
            }

            // Отображение нужного положения индикатора сортировки
            var arrow_content = document.getElementById(arrow);
            arrow_content.innerHTML = (arrow_content.innerHTML == '↓') ? arrow_content.innerHTML = '↑' : arrow_content.innerHTML = '↓';
        }
    </script>

    {# Скрипт, осуществляющий загрузку и удаление файлов безе перезагрузки страницы #}
    <script src="./assets/js/fileActions.js"></script>
</body>
</html>