{# Здесь содержится база для всех страниц приложения #}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | PHP03 Task 4.2</title>

    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- Подключение главного файла CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim и Respond.js для поддержки в IE8 элементов HTML 5 и медиа запросов -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block navigationBar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Task 4.2</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Главная</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./index.php?logout=1">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block mainContent %}{% endblock %}
<!-- jQuery -->
<script src="./js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="./js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script>
    {# Управление кнопками и блоками "Загрузить файл с жесткого диска" и "Загрузить файл по URL" #}
    $(document).ready(function () {
        $('#add_file_button').click(function () {
            $('#add_file_form').toggle();
            $('#add_file_from_url_form').hide();
        });

        $('#cancel_button').click(function () {
            $('#add_file_form').hide();
        });

        $('#add_file_from_url_button').click(function () {
            $('#add_file_from_url_form').toggle();
            $('#add_file_form').hide();
        });

        $('#cancel_button_from_url').click(function () {
            $('#add_file_from_url_form').hide();
        });
    });
</script>
</body>
</html>