{# Используем "базовый" шаблон base.twig #}
{% extends 'base.twig' %}
{% block title %}Главная страница{% endblock %}
{% block mainContent %}
    <div class="container">
        {% if notification is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success">
                        <strong>{{ notification }}</strong>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h3>Каталог файлов <span style="font-size: 14px; font-style: normal">({{ directory_info.howmany }} файлов общим размером {{ directory_info.size_to_display }}, средний размер файла &ndash; {{ avg_files }})
                        <br>Общее количество пользователей в системе &ndash; {{ count_users }}
                        <br>Общее количество файлов загруженных всеми пользователями &ndash; {{ count_files }}
                        <br>Общий размер файлов загруженных всеми пользователями &ndash; {{ sum_of_sizes }}
                    </span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <a href="#" id="add_file_button" class="btn btn-default">Загрузить файл с жесткого диска</a>
            </div>
            <div class="col-xs-3">
                <a href="#" id="add_file_from_url_button" class="btn btn-default">Загрузить файл по URL</a>
            </div>
        </div>
        <div class="row" id="add_file_form" style="display: none">
            <div class="col-xs-12">
                <form method="post" action="./?action=upload_file" enctype="multipart/form-data">
                    <div class="">
                        <div style="margin-top: 10px;">
                            <input type="file" name="file_to_upload" value="Выбрать файл">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <input type="submit" class="btn btn-success" value="Загрузить">
                            <input type="button" class="btn btn-danger" value="Отменить" id="cancel_button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="add_file_from_url_form" style="display: none">
            <div class="col-xs-12">
                <form method="post" action="./?action=get_file_from_url">
                    <div class="">
                        <div style="margin-top: 10px;" class="form-group">
                            <input type="text" name="file_url" placeholder="Введите URL" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="radio" name="save_type" value="home_dir"> Сохранить файл в домашний каталог<br>
                            <input type="radio" name="save_type" value="external_storage"> Скачать файл
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <input type="submit" class="btn btn-success" value="Загрузить">
                            <input type="button" class="btn btn-danger" value="Отменить" id="cancel_button_from_url">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if files_list is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <td><b>Имя файла</b></td>
                            <td><b>Размер файла</b></td>
                            <td><b>Управление</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in files_list %}
                            <tr>
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.size_to_display }}
                                </td>
                                <td>
                                    <a href="{{ user_home_dir }}/{{ item.name }}" download class="btn btn-default">Скачать</a>
                                    <a href="./?action=remove_file&filename={{ item.f_name_sha1 }}" class="btn btn-default">Удалить</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}